<!DOCTYPE html>
<html lang="en">

  <%- include('../../layout/head') %>

<body>

  <%- include('../../layout/header') %>

  <img src='<%= books.image_url %>' alt=''>
  <h1><%= books.title %></h1>
  <h2><%= books.author %></h2>
  <p>ISBN: <%= books.isbn %></p>
  <p>Bookshelf: <%= books.bookshelf %></p>
  <p><%= books.description %></p>

  <%- include('../../layout/footer') %>

</body>
</html>