<div id='singleView'>
  <img src='<%= books.image_url %>' alt=''>
  <h1><%= books.title %></h1>
  <h2><%= books.author %></h2>
  <p><%= books.description %></p>
  <p>ISBN: <%= books.isbn %></p>
  <p>Bookshelf: <%= books.bookshelf %></p>

  <%- include('edit.ejs') %>

</div>  
