<!DOCTYPE html>
<html lang="en">

  <%- include('../../layout/head') %>

<body>

  <%- include('../../layout/header') %>

  <h1>Book Library</h1>

  <ul>
    <% for (let i = 0; i < bookArrayKuya.length; i++){ %>
      <li>
        <img src='<%= bookArrayKuya[i].image_url %>' alt="">
        <h2><%= bookArrayKuya[i].title %></h2>
        <h2><%= bookArrayKuya[i].author %></h2>
        <p>ISBN: <%=bookArrayKuya[i].isbn %></p>
        <p>Bookshelf: <%=bookArrayKuya[i].bookshelf %></p>
        <p><%= bookArrayKuya[i].description %></p>

        <form action='/books' method='POST'>
          <input name='image_url' type='hidden' value='<%= bookArrayKuya[i].image_url %>'>
          <input name='title' type='hidden' value='<%= bookArrayKuya[i].title %>'>
          <input name='author' type='hidden' value='<%= bookArrayKuya[i].author %>'>
          <input name='isbn' type='hidden' value='<%= bookArrayKuya[i].isbn %>'>
          <input name='bookshelf' type='hidden' value='<%= bookArrayKuya[i].bookshelf %>'>
          <input name='description' type='hidden' value='<%= bookArrayKuya[i].description %>'>
          <input type='submit' value='Save Book to Collection'>
        </form>
      </li>
   <% } %>
  </ul>

    <%- include('../../layout/footer') %>

</body>
</html>