<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../layout/header') %>

  <h1></h1>
  <ul>
    <% books.forEach(books => { %>
      <li>
        <h2>
          <a href='/1'><%= books.title %> - <%= books.author %></a>
        </h2>
        <img src='<%= books.image_url %>' alt=''>
        <p><%= books.isbn %></p>
        <p><%= books.description %></p>
      </li>
  <% }) %>
  </ul>
  <h2><%= books.length %></h2>

  <%- include('../layout/footer') %>

</body>
</html>