<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../layout/header') %>

  <h1 class='titles'>Home: <%= books.length %> Saved Books</h1>

  <ul>
    <% books.forEach(books => { %>
      <div class='homePage'>
        <a href='/books/<%= books.id %>'>
          <li class='homePageList'>
            <img src='<%= books.image_url %>' alt=''>
            <h2>
              <%= books.title %> - <%= books.author %>
            </h2>
            <p><%= books.bookshelf %></p>
          </li>
        </a>
        </div>
  <% }) %>
  </ul>

  <%- include('../layout/footer') %>

</body>
</html>